body {
  box-sizing: border-box;
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

h1 {
  font-weight: bold;
  font-size: 14px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 420px;
}

nav {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 417px;
  height: 60px;
  background-color: #000000;
}

.restaurant-list {
  box-sizing: border-box;
  padding-top: 50px;
  width: 75%
}

.location {
  padding: 5%;
  background-color: #d3d3d3;
  width: 385px;
  border-bottom: 1px solid 696969;
}

.arrow {
  display: inline-block;
  width: 5%;
}

.content {
  display: inline-block;
  width: 90%;
}
